#loader {
    display: none;
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid limegreen;
    border-bottom: 16px solid limegreen;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* For Safari browsers */
    animation: spin 3s linear infinite;
}

/* For Safari browsers */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}