#playerArea {
    margin: 16px auto 16px;
    padding: 10px 10px 0 10px;
    width: calc(100% - 100px);
    min-width: 200px;
    border: 1px solid darkgreen;
    border-radius: 8px;
    overflow: auto;
    resize: both;
    background-color: #f1f1f1;
    top: 70px;      /* Can set to 'inherit' to take the parent's (body) top */
    position: sticky;
}

#player {
    width: 100%;    /* audio player will take up 100% of the playerArea */
}

#searchArea {
    margin: 0px 0px 16px;
}

#searchInput {
    width: 50ch;
}

#playerButtons {
    margin-bottom: 8px;
}

#hidePlayer {
    background-color: red;
}

button.active {
    background-color: limegreen;
}

button.privateButton {
    background-color: limegreen;
}

button.removeButton {
    background-color: darkred;
}
